name: kosame
services:
  mysql:
    image: mysql:9
    environment:
      MYSQL_ROOT_PASSWORD: kosame
      MYSQL_USER: kosame
      MYSQL_PASSWORD: kosame
      MYSQL_DATABASE: kosame
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgresql:
    image: postgres:18
    environment:
      POSTGRES_USER: kosame
      POSTGRES_PASSWORD: kosame
      POSTGRES_DB: kosame
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "toasty"]
      interval: 10s
      timeout: 5s
      retries: 5
